## **Limpieza de los archivos Excel de "Emergencias UNGRD"**
----
*Elaboración propia, *

#### ***Importación de paquetes***

In [421]:
import pandas as pd

## **Procesamiento de los datos**
---

### ***Declarar función para realizar la limpieza***

In [422]:
def limpiar_datos_emergencias(filepath, end_row, sheet_name='REPORTE DE EMERGENCIAS', skip_rows=1):
    # Leer el archivo Excel
    df = pd.read_excel(filepath, sheet_name=sheet_name, skiprows=skip_rows)
    
    # Seleccionar filas y columnas relevantes
    df = df[0:end_row]  # Restar 1 y el valor de skip_rows para que incluya la fila deseada
    
    # Definir los posibles nombres de columnas
    posibles_columnas = {
        "DEPTO": "DEPARTAMENTO",
        "DEPARTAMENTO": "DEPARTAMENTO",
        "MUERTOS": "FALLECIDOS",
        "HERIDOS": "HERIDOS",
        "DESAPA.": "DESAPARECIDOS",
        "PERSONAS": "PERSONAS",
        "FAMILIAS": "FAMILIAS",
        "VIV.DESTRU.": "VIVIENDAS",
        "VIAS": "VIAS",
        "HECTAREAS": "HECTAREAS"
    }
    
    # Crear un diccionario para el renombramiento basado en las columnas presentes
    columnas_presentes = {col: posibles_columnas[col] for col in df.columns if col in posibles_columnas}
    
    # Seleccionar solo las columnas presentes
    columnas_a_seleccionar = ["FECHA", "EVENTO", "MUNICIPIO"] + list(columnas_presentes.keys())
    df = df[columnas_a_seleccionar]
    
    # Renombrar columnas
    df = df.rename(columns=columnas_presentes)
    
    # Columnas a limpiar y convertir
    columnas_a_convertir = ["FALLECIDOS", "HERIDOS", "DESAPARECIDOS", "PERSONAS", "FAMILIAS", "VIVIENDAS", "VIAS", "HECTAREAS"]

    # Reemplazar valores no numéricos por '0' y remover comas
    df[columnas_a_convertir] = df[columnas_a_convertir].replace(['-', ',', ' ', '\n', '  ', '                    ', '                                                                  '], '0').fillna('0').replace(',', '')
    
    # Verificar y limpiar valores incorrectos
    for col in columnas_a_convertir:
        for index, value in df[col].items():
            if isinstance(value, str) and not value.replace('.', '', 1).isdigit():
                print(f"Valor no numérico encontrado en columna '{col}', fila {index}: {value}")
                df.at[index, col] = '0'
            elif isinstance(value, pd.Timestamp):  # Detectar fechas que no deberían estar en columnas numéricas
                print(f"Fecha encontrada en columna '{col}', fila {index}: {value}")
                df.at[index, col] = '0'

    # Convertir columnas a float y luego a int
    for col in columnas_a_convertir:
        if col in df.columns:  # Verificar si la columna existe antes de intentar convertirla
            df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0).astype(float).astype(int)
    
    # Convertir la columna de fechas y extraer el año y el mes
    df['FECHA'] = pd.to_datetime(df['FECHA'], errors='coerce')
    df['AÑO'] = df['FECHA'].dt.year
    df['MES'] = df['FECHA'].dt.month
    
    # Reorganizar las columnas
    cols = ['AÑO', 'MES'] + [col for col in df.columns if col not in ['AÑO', 'MES']]
    df = df[cols]    
    
    return df

### ***Procesar CSVs***
---

#### ***2003***

In [423]:
df_2003 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2003.xls', 561)

In [424]:
# df_2003.head()
df_2003.tail()
# df_2003["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
556,2003,12,2003-12-10,INUNDACION,SAN CAYETANO,NORTE DE SANTANDER,0,0,0,172,59,0,0,0
557,2003,12,2003-12-10,DESLIZAMIENTO,EL CARMEN,NORTE DE SANTANDER,0,0,0,135,41,0,0,0
558,2003,12,2003-12-10,DESLIZAMIENTO,PAMPLONA,NORTE DE SANTANDER,1,4,0,152,38,0,0,0
559,2003,12,2003-12-10,INUNDACION,OTANCHE,BOYACA,0,0,0,1500,300,0,0,0
560,2003,12,2003-12-20,INUNDACION,DEPARTAMENTO,SUCRE,0,0,0,0,0,0,0,0

#### ***2004***

In [425]:
df_2004 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2004.xls', 774)

Valor no numérico encontrado en columna 'HECTAREAS', fila 425: 69,25

In [426]:
# df_2004.head()
df_2004.tail()
# df_2004["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
769,2004,12,2004-12-26,VENDAVAL,FILANDIA,QUINDIO,0,0,0,137,26,0,0,0
770,2004,12,2004-12-26,VENDAVAL,CALARCA,QUINDIO,0,0,0,60,11,0,0,0
771,2004,12,2004-12-29,INUNDACION,LA PLATA,HUILA,1,1,0,329,80,10,0,0
772,2004,12,2004-12-29,INUNDACION,LEIVA,NARIÑO,0,0,0,2208,450,0,0,0
773,2004,12,2004-12-29,INUNDACION,TESALIA,HUILA,0,0,0,180,36,0,0,0

#### ***2005***

In [427]:
df_2005 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2005.xls', 990)

In [428]:
# df_2005.head()
df_2005.tail()
# df_2005["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
985,2005,12,2005-12-23,INUNDACION,NEIVA,HUILA,0,0,0,100,20,20,0,0
986,2005,12,2005-12-26,INUNDACION,BALBOA,CAUCA,0,0,0,1592,491,0,0,203
987,2005,12,2005-12-26,DESLIZAMIENTO,FLORENCIA,CAUCA,0,0,0,0,0,0,1,0
988,2005,12,2005-12-27,VENDAVAL,ATRATO,CHOCO,0,0,0,4330,866,0,0,0
989,2005,12,2005-12-28,INUNDACION,UTICA,CUNDINAMARCA,0,0,0,0,0,0,0,0

#### ***2006***

In [429]:
df_2006 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2006.xls', 1053)

In [430]:
# df_2006.head()
df_2006.tail()
# df_2006["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
1048,2006,12,2006-12-26,INCENDIO ESTRUCTURAL,PITALITO,HUILA,2,3,0,5,1,0,0,0
1049,2006,12,2006-12-30,INCENDIO ESTRUCTURAL,MEDELLIN,ANTIOQUIA,0,0,0,410,82,82,0,0
1050,2006,12,2006-12-30,INCENDIO ESTRUCTURAL,MANIZALES,CALDAS,0,0,0,0,0,0,0,0
1051,2006,12,2006-12-30,INCENDIO ESTRUCTURAL,GUATAPE,ANTIOQUIA,0,0,0,10,2,2,0,0
1052,2006,8,2006-08-21,DESLIZAMIENTO,SAN JOSE DEL PALMAR,CHOCO,0,0,0,0,0,0,1,0

#### ***2007***

In [431]:
df_2007 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2007.xls', 1011)

In [432]:
# df_2007.head()
df_2007.tail()
# df_2007["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
1006,2007,12,2007-12-31,VARIOS,NACION,NACION,0,0,0,0,0,0,0,0
1007,2007,12,2007-12-31,INUNDACION,CERRO DE SAN ANTONIO,MAGDALENA,0,0,0,0,0,0,0,0
1008,2007,12,2007-12-31,DESLIZAMIENTO,CARTAGENA,BOLIVAR,0,0,0,0,0,0,0,0
1009,2007,12,2007-12-31,INUNDACION,NACION,NACION,0,0,0,0,0,0,0,0
1010,2007,12,2007-12-31,DESLIZAMIENTO,BUENAVENTURA,VALLE,0,0,0,0,0,0,0,0

#### ***2008***

In [433]:
df_2008 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2008.xls', 1752, skip_rows=2)

In [434]:
# df_2008.head()
df_2008.tail()
# df_2008["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
1747,2008,12,2008-12-27,DESLIZAMIENTO,PIENDAMO,CAUCA,2,0,0,0,0,0,1,0
1748,2008,12,2008-12-27,INUNDACION,QUIBDO,CHOCO,0,0,0,280,57,8,0,0
1749,2008,12,2008-12-27,INUNDACION,PALOCABILDO,TOLIMA,0,0,0,350,70,0,0,120
1750,2008,12,2008-12-27,INUNDACION,BELEN,NARIÑO,0,0,0,435,105,0,0,0
1751,2008,12,2008-12-28,COLAPSO,ZARAGOZA,ANTIOQUIA,0,3,0,0,0,0,0,0

#### ***2009***

In [435]:
df_2009 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2009.xls', 1063)

C:\Users\marti\AppData\Local\Temp\ipykernel_14260\2400448329.py:36: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[columnas_a_convertir] = df[columnas_a_convertir].replace(['-', ',', ' ', '\n', '  ', '                    ', '                                                                  '], '0').fillna('0').replace(',', '')

In [436]:
# df_2009.head()
df_2009.tail()
# df_2009["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
1058,2009,12,2009-12-27,INUNDACION,TUMACO,NARIÑO,0,0,0,0,0,0,0,0
1059,2009,12,2009-12-27,VENDAVAL,EL BAGRE,ANTIOQUIA,0,0,0,2500,300,2,0,0
1060,2009,12,2009-12-27,INUNDACION,ANDES-TURBO-BAGRE,ANTIOQUIA,0,0,0,0,0,0,0,0
1061,2009,12,2009-12-28,INUNDACION,OTANCHE,BOYACA,0,0,0,50,10,0,0,0
1062,2009,12,2009-12-28,INCENDIO ESTRUCTURAL,MEDELLIN,ANTIOQUIA,0,0,0,5,1,1,0,0

#### ***2010***

In [437]:
df_2010 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2010.xls', 2445)

In [438]:
# df_2010.head()
df_2010.tail()
# df_2010["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
2440,2010,12,2010-12-31,INUNDACION,GUADALUPE,SANTANDER,0,0,0,475,95,0,0,0
2441,2010,12,2010-12-31,INUNDACION,JORDAN,SANTANDER,0,0,0,27,6,0,0,0
2442,2010,12,2010-12-31,INUNDACION,SUAITA,SANTANDER,0,0,0,1535,307,0,0,0
2443,2010,12,2010-12-31,INUNDACION,GUEPSA,SANTANDER,0,0,0,20,4,0,0,0
2444,2010,12,2010-12-31,INUNDACION,LERIDA,TOLIMA,0,0,0,240,48,0,0,0

#### ***2011***

In [439]:
df_2011 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2011.xls', 3200)

In [440]:
# df_201.head()
df_2011.tail()
# df_2011["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
3195,2011,12,2011-12-31,INCENDIO ESTRUCTURAL,PITAL,HUILA,0,0,0,5,1,0,0,0
3196,2011,12,2011-12-31,INCENDIO ESTRUCTURAL,SANTANDER DE QUILICHAO,CAUCA,0,0,0,5,1,1,0,0
3197,2011,12,2011-12-31,INCENDIO ESTRUCTURAL,CURILLO,CAQUETA,0,0,0,2,1,1,0,0
3198,2011,12,2011-12-31,INUNDACION,BOSCONIA,CESAR,0,0,0,0,0,0,0,0
3199,2011,12,2011-12-31,INUNDACION,TURMEQUE,BOYACA,0,0,0,75,15,15,0,0

#### ***2012***

In [441]:
df_2012 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2012.xls', 4044)

Valor no numérico encontrado en columna 'HECTAREAS', fila 327:               0.5
Valor no numérico encontrado en columna 'HECTAREAS', fila 2721: 0.7
Valor no numérico encontrado en columna 'HECTAREAS', fila 2788: 0.5

In [442]:
# Ajustar manualmente los valores decimales en la columna 'HECTAREAS'
valores_hectareas = {327: 0.5, 2721: 0.7, 2788: 0.5}
for index, value in valores_hectareas.items():
    df_2012.at[index, 'HECTAREAS'] = value

C:\Users\marti\AppData\Local\Temp\ipykernel_14260\280601477.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  df_2012.at[index, 'HECTAREAS'] = value

In [443]:
# df_2012.head()
df_2012.tail()
# df_2012["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
4039,2012,12,2012-12-30,DERRAME DE HIDROCARBUROS,TIBU,NORTE DE SANTANDER,0,0,0,0,0,0,0,0.0
4040,2012,12,2012-12-30,INCENDIO ESTRUCTURAL,CAJAMARCA,TOLIMA,0,0,0,0,0,0,0,0.0
4041,2012,12,2012-12-31,EXPLOSION,GUAPI,CAUCA,0,4,0,4,0,0,0,0.0
4042,2012,12,2012-12-31,INCENDIO ESTRUCTURAL,PUERTO GUZMAN,PUTUMAYO,0,0,0,0,0,0,0,0.0
4043,2012,12,2012-12-31,INCENDIO FORESTAL,BUCARAMANGA,SANTANDER,0,0,0,0,0,0,0,0.0

#### ***2013***

In [444]:
df_2013 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2013.xls', 4019)

In [445]:
# df_2013.head()
df_2013.tail()
# df_2013["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
4014,2013,12,2013-12-31,INCENDIO FORESTAL,PUERTO GAITAN,META,0,0,0,0,0,0,0,7
4015,2013,12,2013-12-31,INCENDIO ESTRUCTURAL,PASTO,NARIÑO,3,0,0,10,1,1,0,0
4016,2013,12,2013-12-31,INCENDIO ESTRUCTURAL,CALI,VALLE DEL CAUCA,0,0,0,0,0,0,0,0
4017,2013,12,2013-12-31,INCENDIO ESTRUCTURAL,MONTENEGRO,QUINDIO,0,0,0,35,7,7,0,0
4018,2013,12,2013-12-31,INCENDIO ESTRUCTURAL,SAN ANDRES DE TUMACO,NARIÑO,0,0,0,10,2,1,0,0

#### ***2014***

In [446]:
df_2014 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2014.xls', 3679, skip_rows=3)

In [447]:
# df_2014.head()
df_2014.tail()
# df_2014["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
3674,2014,12,2014-12-31,ACCIDENTE DE TRANSITO,PUERTO LOPEZ,META,2,7,0,9,0,0,0,0
3675,2014,12,2014-12-31,VENDAVAL,HONDA,TOLIMA,0,0,0,0,0,0,1,0
3676,2014,12,2014-12-31,INCENDIO FORESTAL,ENVIGADO,ANTIOQUIA,0,0,0,0,0,0,0,0
3677,2014,12,2014-12-31,ACCIDENTE,RIO IRO,CHOCO,2,0,0,2,0,0,0,0
3678,2014,12,2014-12-31,INUNDACION,GUARANDA,SUCRE,0,0,0,0,0,0,0,0

#### ***2015***

In [448]:
df_2015 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2015.xls', 3683, skip_rows=3)

In [449]:
# df_2015.head()
df_2015.tail()
# df_2015["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
3678,2015,12,2015-12-31,INCENDIO ESTRUCTURAL,"BOGOTA, D.C.","BOGOTA, D.C.",0,0,0,0,0,0,0,0
3679,2015,12,2015-12-31,INCENDIO FORESTAL,VENADILLO,TOLIMA,0,0,0,0,0,0,0,2
3680,2015,12,2015-12-31,INCENDIO FORESTAL,LA CELIA,RISARALDA,0,0,0,0,0,0,0,2
3681,2015,12,2015-12-31,INCENDIO FORESTAL,RIONEGRO,ANTIOQUIA,0,0,0,0,0,0,0,0
3682,2015,12,2015-12-31,INCENDIO FORESTAL,ALPUJARRA,TOLIMA,0,0,0,0,0,0,0,80

#### ***2016***

In [450]:
df_2016 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2016.xls', 3866, skip_rows=3)

In [451]:
# df_2016.head()
df_2016.tail()
# df_2016["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
3861,2016,12,2016-12-31,INUNDACION,PEREIRA,RISARALDA,0,0,0,40,8,1,0,0
3862,2016,12,2016-12-31,INCENDIO FORESTAL,CHITARAQUE,BOYACA,0,0,0,0,0,0,0,1
3863,2016,12,2016-12-31,INCENDIO ESTRUCTURAL,TADO,CHOCO,0,0,0,6,2,2,0,0
3864,2016,12,2016-12-31,INCENDIO ESTRUCTURAL,TIMBIQUI,CAUCA,1,0,0,5,1,1,0,0
3865,2016,12,2016-12-31,DESLIZAMIENTO,IQUIRA,HUILA,0,0,0,0,0,0,0,0

#### ***2017***

In [452]:
df_2017 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2017.xls', 3333, skip_rows=3)

Valor no numérico encontrado en columna 'HECTAREAS', fila 1164: 493,5
Valor no numérico encontrado en columna 'HECTAREAS', fila 1914: 627,07
Valor no numérico encontrado en columna 'HECTAREAS', fila 2287: .
Valor no numérico encontrado en columna 'HECTAREAS', fila 2469: 0,5
Valor no numérico encontrado en columna 'HECTAREAS', fila 2471: 0,02
Valor no numérico encontrado en columna 'HECTAREAS', fila 2613: 0,25
Valor no numérico encontrado en columna 'HECTAREAS', fila 2740: 0,1
Valor no numérico encontrado en columna 'HECTAREAS', fila 3265: 1,5

In [453]:
# Limpieza manual de la columna 'HECTAREAS'
df_2017['HECTAREAS'] = df_2017['HECTAREAS'].replace(',', '.').replace('.', '0')

In [454]:
# df_2017.head()
df_2017.tail()
# df_2017["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
3328,2017,12,2017-12-31,INUNDACION,CHOCONTA,CUNDINAMARCA,0,0,0,15,3,0,0,0
3329,2017,12,2017-12-31,ACCIDENTE DE TRANSITO,CAQUEZA,CUNDINAMARCA,1,1,0,0,0,0,0,0
3330,2017,12,2017-12-31,DESLIZAMIENTO,MEDELLIN,ANTIOQUIA,0,0,0,0,0,0,1,0
3331,2017,12,2017-12-31,INCENDIO FORESTAL,AGUAZUL,CASANARE,0,0,0,0,0,0,0,60
3332,2017,12,2017-12-31,VENDAVAL,"BOGOTA, D.C.","BOGOTA, D.C.",0,0,0,0,4,0,0,0

#### ***2018***

In [455]:
df_2018 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2018.xls', 3489, skip_rows=3)

Valor no numérico encontrado en columna 'HERIDOS', fila 2609: |
Valor no numérico encontrado en columna 'HECTAREAS', fila 3205: 137,25
Valor no numérico encontrado en columna 'HECTAREAS', fila 3387: 0,1
Valor no numérico encontrado en columna 'HECTAREAS', fila 3388: 0,1

C:\Users\marti\AppData\Local\Temp\ipykernel_14260\2400448329.py:36: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[columnas_a_convertir] = df[columnas_a_convertir].replace(['-', ',', ' ', '\n', '  ', '                    ', '                                                                  '], '0').fillna('0').replace(',', '')

In [456]:
# Limpieza manual de valores incorrectos
df_2018['HECTAREAS'].replace(',', '.')
df_2018.at[2609, 'HERIDOS'] = 0

In [457]:
# df_2018.head()
df_2018.tail()
# df_2018["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FALLECIDOS,HERIDOS,DESAPARECIDOS,PERSONAS,FAMILIAS,VIVIENDAS,VIAS,HECTAREAS
3484,2018.0,12.0,2018-12-30,INCENDIO FORESTAL,AGUA DE DIOS,CUNDINAMARCA,0,0,0,0,0,0,0,1
3485,2018.0,12.0,2018-12-31,INCENDIO FORESTAL,LA CRUZ,NARIÑO,0,0,0,0,0,0,0,1
3486,2018.0,12.0,2018-12-31,VENDAVAL,SAN PABLO,NARIÑO,0,0,0,5,1,0,0,0
3487,2018.0,12.0,2018-12-31,INCENDIO ESTRUCTURAL,EL TAMBO,NARIÑO,0,0,0,10,2,2,0,0
3488,2018.0,12.0,2018-12-31,INCENDIO FORESTAL,CASTILLA LA NUEVA,META,0,0,0,0,0,0,0,3

#### ***2023***

In [458]:
df_2023 = limpiar_datos_emergencias('../Excel (2003 - 2018, 2023)/EMERGENCIAS-2023.xls', 5154, skip_rows=4)

In [459]:
# df_2023.head()
df_2023.tail()
# df_2023["EVENTO"].unique()

,AÑO,MES,FECHA,EVENTO,MUNICIPIO,DEPARTAMENTO,FAMILIAS,PERSONAS,FALLECIDOS,HERIDOS,DESAPARECIDOS,VIVIENDAS,VIAS,HECTAREAS
5149,2023,12,2023-12-31,ACCIDENTE TRANSPORTE TERRESTRE,MELGAR,TOLIMA,0,0,2,0,0,0,0,0
5150,2023,12,2023-12-28,MOVIMIENTO EN MASA,FLORENCIA,CAQUETA,0,0,0,0,0,0,1,0
5151,2023,12,2023-12-06,INCENDIO FORESTAL,NATAGA,HUILA,0,0,0,0,0,0,0,0
5152,2023,12,2023-12-06,INCENDIO FORESTAL,GARZON,HUILA,0,0,0,0,0,0,0,0
5153,2023,12,2023-12-06,DESABASTECIMIENTO DE AGUA,VELEZ,SANTANDER,0,0,0,0,0,0,0,0

### ***Fusionar datasets***
---

In [460]:
# Lista de nombres de los dataframes
dataframes = ['df_2003', 'df_2004', 'df_2005', 'df_2006', 'df_2007', 'df_2008', 'df_2009', 'df_2010', 'df_2011', 'df_2012', 'df_2013', 'df_2014', 'df_2015', 'df_2016', 'df_2017', 'df_2018', 'df_2023']

# Crear una lista vacía para almacenar los dataframes
dfs = []

# Iterar sobre los nombres de los dataframes y agregarlos a la lista
for df_name in dataframes:
    df = globals()[df_name]
    dfs.append(df)

# Concatenar los dataframes en uno solo
emergencias = pd.concat(dfs)

# Exportar el dataframe combinado como CSV
emergencias.to_csv('../EmergenciasCC(2003-2018, 2023)_RegionPacifico.csv', index=False)